.Divider {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(var(--foreground-rgb));
}

.top, .bottom {
    height: 100px;
    width: 100%;
    background-color: rgb(var(--background-end-rgb));
    transform: scaleX(1.025);
}

.top {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.bottom {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

@media (width < 768px) {
    .top, .bottom {
        transform: scaleX(1.5);
    }
}