.Experience {
    padding: 100px 130px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: rgb(var(--background-end-rgb));
}

.Collection {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
}

@media (width < 768px) {
    .Experience {
        padding: 100px 20px;
    }
}
