.SectionTitle {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.sectionDescription {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
}

.title {
    display: flex;
    width: 100%;
    font-size: 4em;
}

@media (360.5px < width < 480px) {
    .title {
        font-size: 3.5em;
    }
}

@media (width < 360.5px) {
    .title {
        font-size: 3em;
    }
}